# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Lab6
lab6_app/venv/
lab6_app/__pycache__/
lab6_app/.venv/
